{% extends 'base.html' %}
{% block body %}
<table class="table">
    <tr>
        <th colspan="6" ><h1 style="color: red; text-align: center;">Your current orders</h1></th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Sevice</th>
        <th>Cost</th>
        <th>Status</th>
    </tr>
    {% for fee in data %}
    <tr>
        <td>{{fee[2]}}</td>
        <td>{{fee[3]}}</td>
        <td>{{fee[4]}}</td>
        <td>{{fee[5]}}</td>
        <td>{{fee[8]}}</td>
        <td>
            {% if fee[9]=='approved' %}
            <button class="btn btn-primary">Collect</button>
            <button class="btn btn-success">Done</button>
            {% elif fee[9]=='declined' %}
            <button class="btn btn-primary">Checked</button>
            <button class="btn btn-danger">Return</button>
            {% else %}
            <a href="/chose/{{fee[0]}}" class="btn btn-outline-success">Accept/Decline </a>
            <button class="btn btn-warning">Pending...</button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}